{% extends "base.html" %}
{% load static %}
{% block body %}
  <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_4.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a href="index.html">Home</a></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Log In</h1>
            </div>
        </div>
    </div>
  </div>

<div class="content-section ml-5 mb-5 mt-5">

  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="ml-5 btn btn-outline-info" type="submit">Log In</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Need An Account? <a class="ml-2 btn btn-danger" href="{% url 'accounts:register' %}">Sign Up</a>
    </small>
  </div>
</div>


{% endblock body %}